$svgHeader: #5f6368;
$svgHover: rgba(60, 64, 67, 0.08);
$navColor: rgba(0, 0, 0, 0.87);
$blueColor: #1a73e8;
$whiteColor: #ffffff;
$borderForm: #dfe1e5;
$grayColor: #9aa0a6;
$formHover: rgba(32, 33, 36, 0.28);
$inputColor: #f8f9fa;
$blackColor: #3c4043;
$btnHover: #dadce0;
$shadowBtn: rgba(0, 0, 0, 0.1);
$footerColor: #f2f2f2;
