.flexBox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
}

ul li {
  list-style: none;
  & > a {
    text-decoration: none;
  }
}

input {
  outline: none;
}
