@import "./variables";
@import "./main.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: arial, sans-serif;
  height: 100%;
}
.navbar {
  @extend .flexBox;
  justify-content: flex-end;
  height: 60px;
  & > ul {
    @extend .flexBox;

    & > li {
      & > a {
        color: rgba(0, 0, 0, 0.87);
        font-size: 13px;
        padding-left: 15px;
      }
    }
  }
}
