@import "./variables";
@import "./main.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: arial, sans-serif;
  height: 100%;
}
.navbar {
  @extend .flexBox;
  justify-content: flex-end;
  height: 60px;
  & > ul {
    @extend .flexBox;
    padding-inline-end: 32px;
    & > li {
      & > svg {
        width: 40px;
        height: 40px;
        fill: #5f6368;
        margin-inline-start: 15px;
        vertical-align: middle;
        cursor: pointer;
        &:hover {
          background-color: rgba(60, 64, 67, 0.08);
          border-radius: 50%;
          padding: 8px;
        }
      }
      & > a {
        color: rgba(0, 0, 0, 0.87);
        font-size: 13px;
        padding-left: 15px;
      }
    }
  }
}
