@import "./variables";
@import "./main.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: arial, sans-serif;
  height: 100%;
  font-size: 14px;
}
.navbar {
  @extend .flexBox;
  justify-content: flex-end;
  height: 60px;
  & > ul {
    @extend .flexBox;
    padding-inline-end: 32px;
    & > li {
      & > svg {
        width: 40px;
        height: 40px;
        fill: #5f6368;
        margin-inline-start: 15px;
        vertical-align: middle;
        cursor: pointer;
        padding: 8px;
        &:hover {
          background-color: rgba(60, 64, 67, 0.08);
          border-radius: 50%;
        }
      }
      & > a {
        color: rgba(0, 0, 0, 0.87);
        font-size: 13px;
        padding-left: 15px;
      }

      &:last-of-type > a {
        background: #1a73e8;
        border: 1px solid transparent;
        margin-left: 8px;
        color: white;
        min-width: 96px;
        padding: 9px 23px;
        text-align: center;
        font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.25px;
        border-radius: 4px;
        margin-right: 8px;
        transition: box-shadow 250ms;
      }
    }
  }
}

main {
  & > section {
    @extend .flexBox;
    flex-direction: column;
    & > div:first-of-type {
      & > img {
        width: 272px;
        height: 92px;
        object-fit: cover;
      }
    }
    & > form {
      @extend .flexBox;
      border-color: rgba(223, 225, 229, 0);
      width: 584px;
      height: 46px;
      border-radius: 24px;
      justify-content: space-between;
      margin-top: 20px;
      border: 1px solid #dfe1e5;
      & > svg {
        &:first-of-type {
          width: 20px;
          height: 20px;
          fill: #9aa0a6;
          margin-inline-start: 13px;
        }
        width: 24px;
        height: 24px;
        margin-inline-end: 13px;
      }
      & > input {
        border: none;
        width: 487px;
      }
    }
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  // padding: 20px;
  transition: box-shadow 250ms;
}
