@import "./variables";
@import "./main.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: arial, sans-serif;
  height: 100%;
}
.navbar {
  @extend .flexBox;
  justify-content: flex-end;
  height: 60px;
  & > ul {
    @extend .flexBox;
    padding-inline-end: 32px;
    & > li {
      & > svg {
        width: 40px;
        height: 40px;
        fill: #5f6368;
        margin-inline-start: 15px;
        vertical-align: middle;
        cursor: pointer;
        padding: 8px;
        &:hover {
          background-color: rgba(60, 64, 67, 0.08);
          border-radius: 50%;
        }
      }
      & > a {
        color: rgba(0, 0, 0, 0.87);
        font-size: 13px;
        padding-left: 15px;
      }

      &:last-of-type > a {
        background: #1a73e8;
        border: 1px solid transparent;
        margin-left: 8px;
        color: white;
        min-width: 96px;
        padding: 9px 23px;
        text-align: center;
        font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.25px;
        border-radius: 4px;
        margin-right: 8px;
        transition: box-shadow 250ms;
        &:hover {
          text-decoration: none;
          box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%), 0 1px 3px 1px rgb(66 133 244 / 15%);
        }
      }
    }
  }
}
